Flask==2.2.2
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
httpagentparser==1.9.3
matplotlib==3.5.3
numpy==1.23.0
pandas==1.4.4
psycopg2==2.9.1
psycopg2-binary==2.9.1
requests==2.26.0
scikit-learn==1.0.0
scipy==1.9.1
SQLAlchemy==1.4.25
