:root {
  --primary-color: #432E30;
  --primary-color-light: #8E7474;
  --accent-color: #FE6A6B;
  --accent-color-light: #FFE4E4;
  --accent-color-dark: #B94B4C;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --bg-color: #F8F8FA;
}

body {
  background-color: #C6CBD1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;

}

.proper_title {
  text-align: center;
  font-family: "Bungee";
  line-height: 200%;
  font-size: 3vw;
  background: url("4col.png");
  background-size: 70vw;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

a, a:hover {
  text-decoration: none;
  color: #432E30;
}

/* input form */
.input-group {
  position: relative;
  font-size: 0;
}

.username-input {
  font-size: 1.1rem !important;
  padding: 0.8rem 1rem !important;
  background: rgba(0, 10, 25, 0.3);
  border: 1px solid rgba(0, 10, 25, 0.3);
  border-bottom-color: rgba(0, 10, 25, 0.4);
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.3);
  font-weight: 300;
  color: #cfd9e6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: inherit;
  position: relative;
  z-index: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: rgba(0, 10, 25, 0.3);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.username-input:hover {
    box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.3);
    z-index: 0;
}
.username-input:focus {
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.btn {
  font-size: 1.1rem !important;
  padding: 0.8rem 1rem !important;
  background: rgba(0, 10, 25, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.3);
  color: #61efa7;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  outline: inherit;
  position: relative;
}
.btn:disabled {
    background: rgba(0, 0, 0, 0.3);
}
.btn:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 1;
}
.btn:active {
    background: rgba(0, 0, 0, 0.3);
    color: white;
}
.btn:focus {
    box-shadow: 0 0 0 2px rgba(153, 236, 167, 0.5);
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10px;
  outline: none;
}

table.center {
  margin-top: 60px;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  }

td {
  text-align: center;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(0, 10, 25, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.errorclass {
  color: #D42040;
}

/* loading */

div#loading {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-top: 12px solid blue;
  border-right: 12px solid yellow;
  border-bottom: 12px solid green;
  border-left: 12px solid red;
  border-radius: 50%;
  display: none;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: #FE6A6B;
}

.link--dark {
  color: #432E30;
}

.link--light {
  color: #FE6A6B;
}

/* menu */
nav {
  display: grid;
  grid-template-columns: 70px auto;
}

.menu {
  margin: 0;
  text-align: right;
  overflow: hidden;
  list-style: none;
  font-size: 2vw;
}

.menu__item {
  padding: 0 0.8rem;
  display: inline-block;
}

.menu__item.toggle {
  display: none;
}

.toggle {
  display: none;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .proper_title {
    font-size: 5vw;

  }
  .menu {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 400px) {
  .username-input {
    padding: 0.8rem 0.8vw !important;
  }
  .btn {
    padding: 0.8rem 0.8vw !important;
  }
}
