{% extends "index.html" %}

{% block content %}
<div class="proper_title">
  <h1> Political leaning <br> prediction</h1>
</div>
<div class="container">
  <form action="pred" method="post" id="find_user">
    <div class="input-group">
      <input type="text" name="username" placeholder="username" autocapitalize="off" autocorrect="off" autocomplete="off" class="form-control username-input">
      <span class="input-group-btn"><button type="submit" class="btn" form="find_user" value="Submit">Predict</button></span>
    </div>
  </form>
  {% block info %}
  <div>
    <p>{{text}}</p>
  </div>
  {% endblock %}
</div>
{% endblock %}
