<!Doctype html>
<html lang="en">
<title>Reddit stance classifier</title>
  <head>
    <link rel="icon" href="../static/centrist.png">
    <link href="../static/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
    <script src="https://kit.fontawesome.com/aec1d7a3b7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
    <nav>
      <div class="logo"><a href="/"><img src="../static/centrist.png"></a></div>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="/about" class="link link--dark"><i class="fas fa-scroll"></i> About</a></li>
        <li class="menu__item"><a href="https://github.com/0xTiger/reddit-stance-classifier" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
