{% extends "home.html" %}
{% block info %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
  <table cellspacing="0" class="center">
    <tr>
      <td><p>User:</p></td><td><p>{{user.name}}</p></td>
    </tr>
    <tr>
      <td><p>Stance: </p></td><td><p>{{user.prediction.stance_name()}} <img src="{{ url_for('static', filename='../static/' + user.prediction.img()) }}"></p></td>
    </tr>
    <tr>
      <td><p>Compass<br>Position:</p><div class="tooltip"><i class="fas fa-info-circle"></i>
        <span class="tooltiptext" style="width: 240px">Prediction is based on the stances of users who comment on similar subreddits. See <li class="menu__item"><a href="/about" class="link link--dark"><i class="fas fa-scroll"></i> About</a></li> for more info</span>
      </div></td>
      <td>
        <div class="chart-container">
          <canvas id="CompassChart" width=1 height=1></canvas>
      </div>
      </td>
    </tr>
  </table>
</div>

<script>
  
  const h = {{user.prediction.h_pos | tojson }};
  const v = {{user.prediction.v_pos | tojson }};

  var c = 'rgb(132, 99, 255)';
  if (h < 0) {
    if (v < 0) {
      c = 'rgb(99, 255, 132)';
    } else {
      c = 'rgb(255, 99, 132)';
    }
  } else {
    if (v < 0) {
      c = 'rgb(255, 255, 10)';
    } else {
      c = 'rgb(132, 99, 255)';
    }
  }
  const data = {
    datasets: [{
      label: 'My First dataset',
      backgroundColor: c,
      borderColor: c,
      data: [{x: h, 
              y: v}],
      pointRadius: 5,
    }]
    
  };

  const scatterArbitraryLine = {
    id: 'scatterArbitraryLine',
    beforeDatasetsDraw(chart, args, pluginOptions){
      const { ctx, chartArea: {top, bottom, left, right, width, height},
        scales: {x, y} } = chart;
      ctx.save();
      lines(0, -1, 0, 1);
      lines(-1, 0, 1, 0);

      function lines(x1, y1, x2, y2){
        ctx.beginPath();
        ctx.strokeStyle = 'rgb(0, 0, 0)'
        ctx.lineWidth = 3;
        ctx.moveTo(x.getPixelForValue(x1), y.getPixelForValue(y1))
        ctx.lineTo(x.getPixelForValue(x2), y.getPixelForValue(y2))
        ctx.stroke();
        ctx.closePath();
        ctx.restore();
    }
    }
  }

  const config = {
    type: 'scatter',
    data: data,
    options: {
      scales: {
        x: {min: -1, max: 1, ticks: {stepSize: 0.5}},
        y: {min: -1, max: 1, ticks: {stepSize: 0.5}}
      },
      plugins: {
        legend: {
          display: false
        },
      }
    },
    plugins: [scatterArbitraryLine]
  };
</script>
<script>
  const CompassChart = new Chart(
    document.getElementById('CompassChart'),
    config,
  );
</script>

{% endblock %}
