{% extends "index.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="chart-container2">
    <canvas id="TrafficChart"></canvas>
</div>

<script>
  
  const datasets = {{traffic_frequency | tojson }};
  const labels = {{traffic_labels | tojson }};
  const chart_type = {{chart_type | tojson }};
  const data = {
    labels: labels,
    datasets: datasets,    
  };

  const config = {
    type: chart_type,
    data: data,
    options: {
        scales: {
            y: {
                beginAtZero: true,
                grace: "20%",
                stacked: true
            },
            x: {
              stacked: true,
            },
        },
        animation: {
          duration: 0
      }
    }
  };
</script>
<script>
  const CompassChart = new Chart(
    document.getElementById('TrafficChart'),
    config,
  );
</script>

{% endblock %}