{% extends "index.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="chart-container2">
    <canvas id="TrafficChart"></canvas>
</div>

<script>
  
  const freq = {{traffic_frequency | tojson }};
  const labels = {{traffic_labels | tojson }};
  const data = {
    labels: labels,
    datasets: [{
      label: 'Traffic Frequency',
      fill: 'origin',
      data: freq,
    }]
    
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales: {
            y: {
                beginAtZero: true,
                grace: "20%"
            }
        }
    }
  };
</script>
<script>
  const CompassChart = new Chart(
    document.getElementById('TrafficChart'),
    config,
  );
</script>

{% endblock %}